:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}
:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
.logo:hover {
  color: #404bbf;
}
.logo-title {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
  margin-left: 156px;
}
.logo-head {
  color: #2e2f42;
}
.site-nav {
  color: #434455;
  display: flex;
  gap: 40px;
}
.link {
  color: #2e2f42;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}
.links {
  font-style: normal;
  margin-left: auto;
  padding-left: 332px;
}
.site-cont {
  display: flex;
  gap: 40px;
  padding-left: 332px;
}
.link-cont {
  color: #434455;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.link-cont:focus {
  color: #404bbf;
}
.link-cont:hover {
  color: #404bbf;
}
.body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
/*h1*/
.main-title {
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  color: white;
  max-width: 496px;
  margin: auto auto 48px;
}
/*h2*/
.title-filling {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
}
/*h3*/
.stuf .team .portfolio-service {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.footer-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1, 5;
  letter-spacing: 0.04em;
}
.title {
  background-color: #2e2f42;
  padding: 188px;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  display: block;
  margin: auto;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.stuf {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-size: 20px;
  color: #2e2f42;
}
.stuffing {
  letter-spacing: 0.02em;
  color: #434455;
}
.team-sect {
  background-color: #f4f4fd;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.teame-list {
  background-color: #ffffff;
}
.team-prof {
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}
.team {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-size: 20px;
}
.portfolio {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-service {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-size: 20px;
  color: #2e2f42;
}
.portfolio-specific {
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
}
.logo-footer {
  color: #f4f4fd;
}
.footer-title {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  padding-left: 156px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.container-title {
  width: 1158px;
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
.Mark .Tom .Camila .Daniel {
  box-sizing: border-box;
  height: 260px;
  padding-left: 24px;
}
.Banking .Cashless .Meditation .Taxi .Screen .Courses {
  box-sizing: border-box;
  height: 300;
  padding-left: 24px;
}
